.place__paragraphs{
  margin: 0px;
  max-width: 484px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 660px){
  .place__paragraphs{
    margin-top: 32px;
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
}