.cover{
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  margin-top: 92px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  z-index: 1;
  box-sizing: border-box;
  aspect-ratio: 8/5;
}

@media screen and (max-width: 660px){
  .cover{
    margin-top: 66px;
    margin-left: 0px;
    margin-right: 0px;
  }
}