.place{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0px;
  margin-bottom: 80px;
  color: #ffffff;
  gap: 48px 40px;
}

.place:last-child{
  margin-bottom: 0px;
}

@media screen and (max-width: 1025px){
  .place{
    gap: 48px 32px;
  }
}

@media screen and (max-width: 769px){
  .place{
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 660px){
  .place{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 50px;
  }
}